<h1>Login</h1>

<p>Sistema de login</p>
<form method="post">
    Utilizador:
    <input type="text" class="form-control" name="nome" />
    Senha:
    <input type="text" class="form-control" name="senha" />

    <button type="submit" class="btn btn-primary">Efetuar Login</button>
</form>


